// default className for parent div for tile component? why is this necessary?
.tileBox {
  display: flex;
  align-items: center;
  border-top: 0.5em solid #7d7d7d;
  // border-bottom: 0.5em solid #7d7d7d;
  padding: 0.5em;
  margin-bottom: 0.5em;
  height: 20rem;
}

.headerBox {
  display: flex;
  align-items: center;
  border-bottom: 0.5em solid #7d7d7d;
  padding: 3em;
  margin-bottom: 0.5em;
  height: 20rem;
}

.profile-pic {
  display: flex;
  align-items: start;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
}

.hangoutBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.hangout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 1px solid transparent;
  background-color: $button-color;
  color: white;
  padding: 1.25rem;
    padding-left: 10px;
    padding-right: 10px;
  font-size: 3rem;
}

.on {
  background-color: lighten($button-color, 20);
}

.emoji {
  font-size: 10rem;
  margin-top: -6rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

.status-text {
  // display: flex;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  width: 100%;
  padding: 0.1em;
  margin: 0.125em;
  text-align: center;
  font-size: 4rem;
  text-align: center;
}

.location-text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0.1em;
  margin: 0.125em;
  text-align: center;
  font-size: 3.5rem;
}