@import 'welcomePage';

html {
  font-size: 1vw;
}

* {
  color: black;
}

.emoji {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  font-size: 8em;
  margin: 0.5em;
}

.map-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}