html {
  font-size: 1vw;
}

* {
  color: black;
}

.headerBox {
  display: flex;
  border-bottom: 0.5em solid #7d7d7d;
  padding: 1em;
  margin-bottom: 1em;
}

.map-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20em;
}

.emoji {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  font-size: 8em;
  margin: 0.5em;
}

.status-text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.1em;
  margin: 0.5em;
  text-align: center;
  font-size: 5em;
}
