// import fonts

// import modules
@import 'variables';
@import 'welcomePage';
@import 'tile';

html {
  font-size: 1vw;
}

* {
  color: black;
}

// body {
//   // overflow: hidden; // get rid of scroll?
// }

button {
  font-size: 2rem; //root element "rem"
}