$primary-font-color: #222027;
$secondary-font-color: lighten($primary-font-color, 25%); // #606f7b;
$tertiary-font-color: lighten($primary-font-color, 40%); //#8795a1;
$box-shadow-color: lighten($primary-font-color, 70%); //#dae1e2;
$button-color: #851b83;